In [10]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')

In [2]:
search_values_df = pd.read_csv('search-values.csv')

In [8]:
search_values_df

                   id googleTopic  week_id  value
0       frozen-yogurt   /m/020b3f  2004-01     20
1       frozen-yogurt   /m/020b3f  2004-02     16
2       frozen-yogurt   /m/020b3f  2004-03      7
3       frozen-yogurt   /m/020b3f  2004-04      7
4       frozen-yogurt   /m/020b3f  2004-05     13
5       frozen-yogurt   /m/020b3f  2004-06      9
6       frozen-yogurt   /m/020b3f  2004-07      8
7       frozen-yogurt   /m/020b3f  2004-08     10
8       frozen-yogurt   /m/020b3f  2004-09     14
9       frozen-yogurt   /m/020b3f  2004-10     19
10      frozen-yogurt   /m/020b3f  2004-11     16
11      frozen-yogurt   /m/020b3f  2004-12     21
12      frozen-yogurt   /m/020b3f  2004-13     16
13      frozen-yogurt   /m/020b3f  2004-14     12
14      frozen-yogurt   /m/020b3f  2004-15     42
15      frozen-yogurt   /m/020b3f  2004-16     16
16      frozen-yogurt   /m/020b3f  2004-17     14
17      frozen-yogurt   /m/020b3f  2004-18     10
18      frozen-yogurt   /m/020b3f  2004-19     11
19      frozen-yogurt   /m/020b3f  2004-20     20
20      frozen-yogurt   /m/020b3f  2004-21     13
21      frozen-yogurt   /m/020b3f  2004-22     31
22      frozen-yogurt   /m/020b3f  2004-23     21
23      frozen-yogurt   /m/020b3f  2004-24     33
24      frozen-yogurt   /m/020b3f  2004-25     26
25      frozen-yogurt   /m/020b3f  2004-26     19
26      frozen-yogurt   /m/020b3f  2004-27     15
27      frozen-yogurt   /m/020b3f  2004-28     22
28      frozen-yogurt   /m/020b3f  2004-29     20
29      frozen-yogurt   /m/020b3f  2004-30     18
...               ...         ...      ...    ...
134995         shrimp  /m/0ll1f78  2016-23     46
134996         shrimp  /m/0ll1f78  2016-24     44
134997         shrimp  /m/0ll1f78  2016-25     44
134998         shrimp  /m/0ll1f78  2016-26     43
134999         shrimp  /m/0ll1f78  2016-27     50
135000         shrimp  /m/0ll1f78  2016-28     44
135001         shrimp  /m/0ll1f78  2016-29     46
135002         shrimp  /m/0ll1f78  2016-30     42
135003         shrimp  /m/0ll1f78  2016-31     44
135004         shrimp  /m/0ll1f78  2016-32     43
135005         shrimp  /m/0ll1f78  2016-33     38
135006         shrimp  /m/0ll1f78  2016-34     38
135007         shrimp  /m/0ll1f78  2016-35     30
135008         shrimp  /m/0ll1f78  2016-36     43
135009         shrimp  /m/0ll1f78  2016-37     40
135010         shrimp  /m/0ll1f78  2016-38     41
135011         shrimp  /m/0ll1f78  2016-39     40
135012         shrimp  /m/0ll1f78  2016-40     35
135013         shrimp  /m/0ll1f78  2016-41     39
135014         shrimp  /m/0ll1f78  2016-42     39
135015         shrimp  /m/0ll1f78  2016-43     44
135016         shrimp  /m/0ll1f78  2016-44     40
135017         shrimp  /m/0ll1f78  2016-45     34
135018         shrimp  /m/0ll1f78  2016-46     30
135019         shrimp  /m/0ll1f78  2016-47     41
135020         shrimp  /m/0ll1f78  2016-48     35
135021         shrimp  /m/0ll1f78  2016-49     32
135022         shrimp  /m/0ll1f78  2016-50     39
135023         shrimp  /m/0ll1f78  2016-51     55
135024         shrimp  /m/0ll1f78  2016-52     51

[135025 rows x 4 columns]

In [4]:
new_df = search_values_df.set_index('id')

In [26]:
week_numbers = []
for date in new_df['week_id']:
    numbers = date[5:7]
    week_numbers.append(numbers)
    
new_df['number_of_week'] = week_numbers

In [27]:
new_df.head()

              googleTopic  week_id  value number_of_week
id
frozen-yogurt   /m/020b3f  2004-01     20             01
frozen-yogurt   /m/020b3f  2004-02     16             02
frozen-yogurt   /m/020b3f  2004-03      7             03
frozen-yogurt   /m/020b3f  2004-04      7             04
frozen-yogurt   /m/020b3f  2004-05     13             05

In [30]:
grouped = new_df.groupby(['id','number_of_week']).mean()

In [32]:
grouped

                              value
id        number_of_week
anise     01              21.307692
          02              21.384615
          03              18.615385
          04              18.384615
          05              18.153846
          06              17.384615
          07              17.615385
          08              17.692308
          09              16.923077
          10              17.384615
          11              17.000000
          12              19.153846
          13              19.230769
          14              17.615385
          15              18.000000
          16              16.153846
          17              16.076923
          18              16.615385
          19              18.153846
          20              16.692308
          21              16.538462
          22              14.692308
          23              15.769231
          24              15.692308
          25              16.615385
          26              17.307692
          27              15.923077
          28              17.153846
          29              15.538462
          30              16.307692
...                             ...
wild-leek 23              18.153846
          24              16.846154
          25              12.538462
          26              11.538462
          27              11.692308
          28               8.615385
          29               9.307692
          30               7.692308
          31               8.615385
          32               7.076923
          33               7.076923
          34               7.538462
          35               7.384615
          36               7.692308
          37              10.769231
          38               8.692308
          39               8.000000
          40               6.307692
          41               6.307692
          42               6.307692
          43               6.307692
          44               7.384615
          45               6.307692
          46               5.615385
          47               6.615385
          48               5.076923
          49               5.076923
          50               5.307692
          51               6.307692
          52               6.615385

[10452 rows x 1 columns]